@font-face {
  font-family: 'ArchyEDTthin';
  src:  url(../fonts/ArchyEDT-Thin.eot);
  src:  url(../fonts/ArchyEDT-Thin.svg);
  src:  url(../fonts/ArchyEDT-Thin.ttf);
  src:  url(../fonts/ArchyEDT-Thin.woff);
  src:  url(../fonts/ArchyEDT-Thin.woff2);
}