@media(max-width:900px){
    .nav-li{
        margin-right: 80px;
    }
    .header-img{
        justify-content: center;
    }
    .white-box{
        max-height: 200px;
    }
}
@media(max-width:775px){
    .nav-li{
        margin-right: 50px;
    }
}
@media(max-width:660px){
    .header{
        height: 130px;
    }
    .nav-ul{
        display: none;
    }
    .search{
        display: none;
    }
    .burger-bar{
        display: block;
        font-size: 35px;
    }
    .white-box{
        max-height: 150px;
    }
}